doctype html
html 
	head
		title= "Real time web chat"
		script(src='/chat.js')
		script(src='/socket.io/socket.io.js')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
	body
		#wrapper(style='width: 900px; height: 600px; margin: auto')
			#gameroom(style='width: 500px; height: 400px; margin: 0 10px 20px 10px; border: solid 1px #999; overflow-y: scroll; float: left')
				ul
					each val in [1, 2, 3,4,5,6,7,8,9,10]
						li!= '<b>room' + val+'</b>'
						br
			#sidebar(style='width: 300px; height: 600px; margin: 0 10px 20px 10px; border: solid 1px #999; overflow-y: scroll; float: right')
			#content(style='width: 500px; height: 130px; margin: 0 10px 20px 10px; border: solid 1px #999; overflow-y: scroll; float: left')
			.controls(style='margin:0 10px 20px 10px; float:left')
				input#username(type='hidden', value='#{username}')
				input#field(style='width:350px;')
				input#send(type='button', value='send')
		
		
			