extends layout

block content
	#wrapper
		#login
			form(method='post')
				|Please enter your nick here
				div
					input(type='text' name='username')
					br
					input(type='submit' value='submit')